{% assign productcard = section.settings.productcard %}
{% assign product = all_products[productcard] %}
<h3>This is Product Card Component Example</h3>
<product-card
  image="{{ product.featured_image | img_url: '300x' }}"
  title="{{ product.title }}"
  price="{{ product.price | money_without_currency }}"
  product-id="{{ product.variants.first.id }}"
  url="{{ product.url }}"
></product-card>
<style>
h3{font-weight: bold; font-family: Arial; margin-top: 50px; margin-left: 30px; margin-bottom: 20px;}
</style>
{% schema %}
{
  "name": "Web Comp-Prod Card",
  "class": "webcomponent-product-card",
  "settings": [
    {
      "type": "product",
      "id": "productcard",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Web Comp-Prod Card"
    }
  ]
}
{% endschema %}