{% assign productcard = section.settings.productcard %}
{% assign product = all_products[productcard] %}
<h3>This is Product Card Component Example</h3>
<product-card
  data-title="{{ product.title }}"
  data-price="{{ product.price | money }}"
  data-image="{{ product.featured_image | img_url: '300x' }}"
  data-url="{{ product.url }}"
  product-id="{{ product.first_available_variant.id }}"
></product-card>

{% schema %}
{
  "name": "Web Comp-Prod Card",
  "class": "webcomponent-product-card",
  "settings": [
    {
      "type": "product",
      "id": "productcard",
      "label": "Select Product"
    }
  ],
  "presets": [
    {
      "name": "Web Comp-Prod Card"
    }
  ]
}
{% endschema %}